body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #e3f2fe;
    
}

header{
    height: 4rem;
    background-color:  #4690c5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.homepage-text{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}

a {
    color: rgb(22, 33, 95);
    text-decoration: none;
}
    
a:hover {
    color: red;
    text-decoration: underline;
}

nav{
    background-color: #83baea;
    height: 3rem;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    margin-right: 15px;
    color: #fff;
    font-size: 1.3rem;
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

h1 {
    height: 3rem;
    background-color:  #95c2ea;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

}

.new-button{
    padding: 0;
    border: none;
    border-radius: 0px;
    width: 100%;
    height: 35px;
    font-size: 1rem;
    padding-left: 15px;
    border-radius: 5px;
}

.container {
    display: grid;
    justify-content: center;       
}

.member-row {
    grid-template-columns: 33% 25% 25% 17%;
}

.member-box{
    border: 1px groove black;
}

.single-member {
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.edit-button a{
    color: rgb(44, 57, 141);
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.edit-button a:hover{
    color: red;
    text-decoration: underline;
}

.member-form{
    display: grid;
    justify-content: center;
}

.edit-member-row{
    grid-template-columns: 80% 20%;
}

.delete-button{
    justify-content: center;
    background-color: #a81717;
    color: #fff;
    padding: 0;
    font-size: 16px;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    display:inline-block;
    text-align: center;
}

.delete-button:hover{
    background-color: #2a6318;
    text-decoration: underline;
    
}

.signup-selector{
    justify-content: left;
    padding: 0;
    font-size: 16px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    display:grid;
    grid-template-columns: 10% 25% 25%;
}

h3{
    height: 3rem;
    background-color:  #95c2ea;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.course-form{
    display: grid;
    justify-content: center;
}

.course-panels{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    border: 0.3rem solid rgb(95, 130, 202);
    width:250px;
    min-height: 300px;
    text-align: center;
}

.course-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    text-align: center;
}

.course-form{
    display: grid;
    justify-content: center;
}

.show-course{
    display:flex;
    justify-content: center;
}

.single-course{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    border: 0.3rem solid rgb(95, 130, 202);
    width:250px;
    min-height: 300px;
    text-align: center;
}