{% extends 'base.html' %}

{% block content %}

<title>GloboGym - Edit {{course.name}}</title>

    <h1>Edit {{course.name}} Course</h1>
    <form class="course-form" action="/courses/{{course.id}}" method="POST">
        <label for="name">
            <span>Course Name:</span>
        </label>
            <input id="name" name="name" type="text" value="{{course.name}}" required>
            <br>

        <label for="description">
            <span>Course Description</span>
        </label>
            <textarea id="description" name="description" type="text" value="{{course.description}}" style="height:200px" required></textarea>
            <br>

        <label for="date">
            <span>Date:</span>
        </label>
            <input type="date" id="date" name="date" value="{{course.date}}">
            <br>

        <label for="capacity">
            <span>Capacity:</span>
        </label>
            <input id="capacity" id="capacity" name="capacity" type="number" min="0" value="{{course.capacity}}">
            <br>

        <input type="submit" value="Edit Course">

    </form>

    <br>
    <form action="/courses/{{course.id}}/delete" method="POST">
        <input class="delete-button" type="submit" value="Delete">
    </form>

{% endblock %}