{% extends 'base.html' %}

{% block content %}

<h1> Courses</h1>

<p>
    <form class="new-button" action="/courses/new">
        <input type="submit" value="+ New Course">
    </form>
</p>

<main class="course-panels">
    {% for course in courses %}

    <br>
    <div>
    <h2>{{course.name}}</h2><a href="/courses/{{course.id}}/edit">  |  Edit</a><br>
    {{course.description}}<br>
    {{course.date}}<br>
    Spots left: ???? / {{course.capacity}}<br>
    <br>
    <a href="/courses/{{course.id}}">Show Signups</a><br>
        </div>
    {% endfor %}
</main>

{% endblock %}