{% extends 'base.html' %}

{% block content %}

<title>GloboGym - Courses</title>

<h1> Courses</h1>

<p>
    <form class="new-button" action="/courses/new">
        <input type="submit" value="+ New Course">
    </form>
</p>

<main class="course-area">
    {% for course in courses %}

    <br>
    <div class="course-panels">
        <h2>{{course.name}}   |  <a href="/courses/{{course.id}}/edit">  Edit</a></h2>
        <br><br>
        {{course.description}}<br><br>
        {{course.date}}<br><br>
        Spots: {{course.capacity}}<br><br>
        <br><br>
            <a href="/courses/{{course.id}}">Show Signups</a><br>
        </div>
    {% endfor %}

</main>

{% endblock %}