{% extends 'base.html' %}

{% block content %}

<title>GloboGym - Add New Course</title>

<h1>Add New Course</h1>
    <form class="course-form" action="/courses" method="POST">
        <label for="name">
            <span>Course Name:</span>
        </label>
            <input id="name" name="name" type="text" required>
            <br>

        <label for="description">
            <span>Course Description</span>
        </label>
            <textarea id="description" name="description" type="text" style="height:200px" placeholder="Describe your course here..." required></textarea>
            <br>

        <label for="date">
            <span>Date:</span>
        </label>
            <input type="date" id="date" name="date">
            <br>

        <label for="capacity">
            <span>Capacity:</span>
        </label>
            <input id="capacity" id="capacity" name="capacity" type="number" min="0">
            <br>

        <input type="submit" value="Add Course">

    </form>

{% endblock %}